*.git*       export-ignore
*.md         export-ignore
*.ac         export-ignore
*.am         export-ignore
Dockerfile   export-ignore
*.txt        export-ignore
CONTRIBUTING export-ignore
LICENSE      export-ignore
*.ABOUT      export-ignore
/aboutcode   export-ignore
/src         export-ignore
/tests       export-ignore
